/**************** Page Header *****************/
.page-header {
	/* padding: 24px 0; */
	background-color: var(--bgc-hero);
}
.header-container {
	display: flex;
	align-items: center;
}
.page-nav {
	display: flex;
	align-items: center;
	margin-left: auto;
}
.nav-list {
	display: flex;
	align-items: center;
}
.nav-item {
	margin-right: 40px;
}
.nav-link {
	display: block;
	padding: 41px 0;
	font-weight: 500;
	font-size: 15px;
	line-height: 1.47; /* 22/15 */
	color: var(--main-color-text);
	transition: color var(--time-function);
}
.nav-link:hover,
.nav-link:focus {
	color: var(--yellow-color);
}
.nav-link-box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 20px;
	width: 56px;
	height: 56px;
	border-radius: 50%;
	background-color: var(--white-color);
	cursor: pointer;
	transition: color var(--time-function);
}
.nav-link-box:hover,
.nav-link-box:focus {
	background-color: var(--main-color-text);
}
.nav-icon {
	fill: var(--main-color-text);
	transition: transform var(--time-function), fill var(--time-function);
}
.nav-link-box:hover .nav-icon,
.nav-link-box:focus .nav-icon {
	fill: var(--yellow-color);
	transform: rotate(360deg);
}
.nav-link-btn {
	padding: 15px 30px;
	border-radius: 63px;
	border: none;
}

/**************** Page Hero *****************/
.hero {
	padding-top: 123px;
	padding-bottom: 131px;
	background-color: var(--bgc-hero);
}
.hero-container {
	display: flex;
	justify-content: space-between;
}
.hero-left,
.hero-right {
	flex-basis: calc((100% - 20px) / 2);
}
.hero-left-content {
	position: relative;
	display: flex;
	align-items: last baseline;
}
.hero-title {
	position: relative;
	max-width: 597px;
	margin-bottom: 30px;
	font-weight: 800;
	font-size: 124px;
	line-height: 1.13; /* 140/124 */
}
.hero-img {
	position: absolute;
	top: 85%;
	left: 80%;
	float: right;
	transform: translate(-85%, -80%);
}
.hero-text {
	display: flex;
	max-width: 530px;
	margin-bottom: 60px;
	font-weight: 400;
	font-size: 24px;
	line-height: 1.46; /* 35/24 */
	color: var(--secondary-color-text);
}
.hero-right-link {
	display: flex;
	align-items: baseline;
}
.hero-btn {
	padding: 20px 40px;
	margin-right: 30px;
	border-radius: 126px;
}
.hero-link {
	position: relative;
	display: block;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.44; /* 26/18 */
	text-transform: uppercase;
	/* color: currentColor; */
	color: var(--main-color-text);
	transition: color var(--time-function);
}
.hero-link:hover,
.hero-link:focus {
	color: var(--yellow-color);
}
.hero-link::after {
	position: absolute;
	display: block;
	content: "";
	bottom: 0;
	left: 0;
	width: 100%;
	/* max-width: 121px; */
	height: 1px;
	margin: 0 auto;
	background-color: currentColor;
}
.hero-right-picture {
	position: relative;
}
.hero-brand {
	position: absolute;
	top: 20%;
	right: 0;
	float: right;
	z-index: 1;
}
.hero-right-img {
	position: relative;
}
.hero-right-img::before,
.hero-right-img::after {
	display: block;
	width: 378.45px;
	height: 429.76px;
	content: "";
	border-radius: 50%;
	border: 3px solid var(--main-color-text);
}
.hero-right-img::before {
	position: absolute;
	bottom: 18%;
	right: 10px;
	border-top: 3px solid transparent;
	transform: translate(-18%) matrix(0.42, -0.91, 0.99, -0.15, 0, 0) rotate(49deg);
}
.hero-right-img::after {
	position: absolute;
	bottom: 23%;
	right: -1px;
	border-top: 3px solid transparent;
	transform: translate(-23%) matrix(0.42, -0.91, 0.99, -0.15, 0, 0) rotate(49deg);
}
.hero-star {
	position: absolute;
	width: 280px;
	padding: 20px 24px;
	top: 60%;
	left: 30%;
	border-radius: 24px;
	z-index: 1;
	background-color: var(--white-color);
	transform: translate(-60%, -30%);
}
.stars {
	display: flex;
	align-items: center;
	margin-bottom: 12px;
}
.stars i {
	font-size: 25px;
	color: var(--main-color-text);
	transition: transform var(--time-function), color var(--time-function);
	cursor: pointer;
}
.stars i:not(:last-child) {
	margin-right: 5px;
}
.stars i.active {
	color: var(--yellow-color);
	transform: scale(1);
}
.hero-star-text {
	font-weight: 400;
	font-size: 19px;
	line-height: 1.37; /* 26/19 */
	color: var(--secondary-color-text); /* 26/19 */
}

/**************** Page Explore *****************/
.explore {
	position: relative;
	/* z-index: 5; */
	padding-top: 150px;
	padding-bottom: 190px;
}
.explore-fon {
	position: absolute;
	top: 5%;
	left: 0;
	z-index: -1;
}
.explore-content {
	position: relative;
	z-index: 1000;
}
.explore-title {
	margin-bottom: 10px;
}
.explore-text {
	width: 604px;
	margin: 0 auto;
	margin-bottom: 90px;
}
.explore-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.explore-item {
	flex-basis: calc((100% - 60px) / 3);
	border-radius: 24px;
	background: linear-gradient(152.09deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
	box-shadow: 0px 30px 60px rgba(163, 168, 179, 0.15);
}
.explore-link {
	display: block;
	border-radius: 24px;
	padding: 40px;
	/* background: linear-gradient(152.09deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
	box-shadow: 0px 30px 60px rgba(163, 168, 179, 0.15); */
	transition: box-shadow var(--time-function);
}
.explore-link:hover,
.explore-link:focus {
	box-shadow: 7px -7px 21px var(--yellow-accent);
	opacity: 0.9;
	border-radius: 24px;
}
.explore-thumb {
	margin-bottom: 60px;
}
.explore-subtitle {
	font-weight: 600;
	font-size: 36px;
	line-height: 1.44; /* 52/36 */
	color: var(--main-color-text);
	margin-bottom: 8px;
}
.explore-img {
	display: flex;
	justify-content: center;
	align-items: center;
	fill: var(--secondary-color-text);
	transition: color var(--time-function);
}
.explore-button {
	margin-top: 60px;
	text-align: center;
}
.explore-btn {
	padding: 15px 30px;
	border-radius: 126px;
	overflow: hidden;
	transition: color var(--time-function), box-shadow var(--time-function);
}
.explore-link:hover .explore-btn,
.explore-link:focus .explore-btn {
	box-shadow: var(--btn-shadow);
	color: var(--yellow-accent);
}

/**************** Page Order *****************/
.order {
	position: relative;
	/* z-index: 5; */
	/* padding-top: 150px;
	padding-bottom: 190px; */
}
.order-container {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.order-left,
.order-right {
	flex-basis: calc((100% - 30px) / 2);
}
.order-left::after {
	content: "";
	position: absolute;
	width: 478.13px;
	height: 297.97px;
	top: 39%;
	left: 25%;
	border-radius: 50%;

	/* border: 5px solid var(--white-color); */
	border: 5px solid blue;
	transform: translate(-39%, -25%) rotate(-15deg);
}
.order-title {
	margin-top: 75px;
	margin-bottom: 30px;
}
.order-text {
	width: 525px;
	margin-bottom: 60px;
}
